// Font Family
$main: 'Lato', sans-serif;

// Font Weight
$fw3: 300;
$fw4: 400;
$fw7: 700;

// Font Style
$fsN: normal;
$fsI: italic;

// Gradient
$blu: #11122e;

// Families
$main: 'RobotoCondensed', sans-serif;